<section class="section-present">

    <div class="text-present">
        <h1>
            Desarrollando el futuro de la salud.
        </h1>
        <p>
            Innovamos con tecnología y ciencia para crear soluciones que mejoran la salud y el bienestar del mañana.
        </p>
    </div>

    <div class="imgs-floating">
        <img src="https://assets-global.website-files.com/606ce22566af383df2754cf8/611a941d68233e2ad5063d70_Vacuna-background.jpg"
            alt="Imagen 1" class="float-img" style="top: -10px; left: -80px;width: 400px;">
        <img src="https://tse1.mm.bing.net/th/id/OIP.MDGuv1FQi74O0Ekzui3F7gHaEK?w=2000&h=1125&rs=1&pid=ImgDetMain&o=7&rm=3"
            alt="Imagen 2" class="float-img" style="top: 80px; left: 60%; width: 380px;">
        <img src="https://tse3.mm.bing.net/th/id/OIP.ZOk5QlBWJl6yJGyHnDqwjwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3"
            alt="Imagen 3" class="float-img" style="bottom: 10px; left: 5%;width: 360px;   ">
    </div>

</section>


<section class="section-app">
    <div class="info">
        <h2>
            Tecnología al servicio de tu salud
        </h2>
        <p>
            Nuestra app de gestión de medicamentos y vacunas combina precisión, control y comodidad en un solo lugar.
            Gracias a su diseño intuitivo, los empleados y profesionales pueden organizar y supervisar cada dosis de
            manera
            eficiente,
            garantizando que ningún medicamento o vacuna se pase por alto y que la salud de todos esté siempre
            protegida.
        </p>
    </div>
    <div class="img"></div>
</section>


<section class="section-enterprise">
    <div class="cards-container">
        <div class="card">
            <img src="https://png.pngtree.com/png-vector/20240103/ourmid/pngtree-stylish-businessman-man-png-image_11398218.png"
                alt="Juan Pérez">
            <h3>Juan Pérez</h3>
            <p>CEO</p>
        </div>
        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.s72_fzbquwJtxQFPzzI7xgHaHa?rs=1&pid=ImgDetMain&o=7&rm=3"
                alt="María Gómez">
            <h3>María Gómez</h3>
            <p>Directora de Marketing</p>
        </div>
        <div class="card">
            <img src="https://static.vecteezy.com/system/resources/previews/041/408/858/non_2x/ai-generated-a-smiling-doctor-with-glasses-and-a-white-lab-coat-isolated-on-transparent-background-free-png.png"
                alt="Carlos Ramírez">
            <h3>Carlos Ramírez</h3>
            <p>Jefe de Operaciones</p>
        </div>
    </div>
</section>


<section class="section-message-1">
    <div class="info">
        <h2>Compromiso con la salud</h2>
        <p>
            Nos dedicamos a ofrecer soluciones seguras y efectivas para el bienestar de nuestros clientes.
        </p>
    </div>
    <div class="img"></div>
</section>


<section class="section-suported flex-center flex-column">
    <div class="flex-center container-logo">
        <div class="flex-center logo">
            <img src="/logo_unu.webp" alt="" width="30px" height="30px">
            <span>Universidad Nacional de Ucayali</span>
        </div>
        <div class="flex-center logo">
            <img src="/logo_sis.webp" alt="" width="30px" height="30px">
            <span>Escuela Porfesional de Ingenieria de Sistemas</span>
        </div>
    </div>
</section>