<div class="sections-wrapper">

    <section class="scroll-section section-present">
        <div class="text-present">
            <h1>
                Desarrollando el futuro de la salud.
            </h1>
            <p>
                Innovamos con tecnología y ciencia para crear soluciones que mejoran la salud y el bienestar del mañana.
            </p>
        </div>
        <div class="imgs-floating">
            <img src="https://assets-global.website-files.com/606ce22566af383df2754cf8/611a941d68233e2ad5063d70_Vacuna-background.jpg"
                alt="Imagen 1" class="float-img" style="top: -10px; left: -80px;width: 400px;">
            <img src="https://tse1.mm.bing.net/th/id/OIP.MDGuv1FQi74O0Ekzui3F7gHaEK?w=2000&h=1125&rs=1&pid=ImgDetMain&o=7&rm=3"
                alt="Imagen 2" class="float-img" style="top: 80px; left: 60%; width: 380px;">
            <img src="https://tse3.mm.bing.net/th/id/OIP.ZOk5QlBWJl6yJGyHnDqwjwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3"
                alt="Imagen 3" class="float-img" style="bottom: 10px; left: 5%;width: 360px;   ">
        </div>
    </section>

    <section class="scroll-section section-app">
        <div class="info">
            <h2>
                Tecnología al servicio de tu salud
            </h2>
            <p>
                Nuestra app permite gestionar medicamentos y vacunas de forma simple y segura, asegurando el control de cada dosis y la protección de la salud.
            </p>
        </div>
        <div class="img"></div>
    </section>

    <section class="scroll-section section-message">
        <div class="info">
            <h2>Compromiso con la salud</h2>
            <p>
                Nos dedicamos a ofrecer soluciones seguras y efectivas para el bienestar de nuestros clientes.
            </p>
        </div>
        <div class="img"></div>
    </section>

<section class="scroll-section section-supported">
  <h2 class = "titulo-suported">Desarrollado en -></h2>

  <div class="supported-logos">
    <div class="logo-card logo-unu">
      <span>UNIVERSIDAD NACIONAL DE UCAYALI</span>
    </div>

    <div class="logo-card logo-sistemas">
      <span>ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS</span>
    </div>
  </div>

</section>




</div>