:host{
    padding: 50px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 400px;
    margin: auto;
    height: fit-content;
}

.recover-link {
  color: var(--color-font);
  font-weight: 300;
  text-decoration: none;
  font-size: var(--font-14);
  cursor: pointer;
}

.recover-link:hover {
  transform: scale(1.02);
}