<div class="modal-overlay" *ngIf="showModal">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <form [formGroup]="movimientoForm" (ngSubmit)="onSubmit()">
            <h1 class="page-tittle">{{ isEditMode ? 'Editar movimiento' : 'Registrar Movimiento' }}</h1>

            <div class="input-container">
                <label for="id_lote">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                             d="M9 12L11 14L15 10M21 12C21 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </g>
                    </svg>
                    <span>Lote</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('id_lote')}">

                    

                    <mat-form-field appearance="outline">
                        <mat-select id="id_lote" formControlName="id_lote">
                            <mat-option value="">Seleccione un lote</mat-option>

                            <mat-option *ngFor="let item of lotes" [value]="item.id_lote">
                                {{ item.vacuna }} - {{ item.fecha_fabricacion }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div *ngIf="isFieldInvalid('id_lote')" class="text-error-message">
                    <small>{{ getErrorMessage('id_lote') }}</small>
                </div>
            </div>

            <div class="input-container">
                <label for="ubicacion_origen">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                                stroke="currentColor" stroke-width="1.5" />
                        </g>
                    </svg>
                    <span>Ubicación Origen</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('ubicacion_origen')}">
                    
                    <mat-form-field appearance="outline">
                        <mat-select id="ubicacion_origen" formControlName="ubicacion_origen">
                            <mat-option value="">Seleccione ubicación de origen</mat-option>

                            <mat-option *ngFor="let item of ubicaciones" [value]="item.id_ubicacion">
                                {{ item.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div *ngIf="isFieldInvalid('ubicacion_origen')" class="text-error-message">
                    <small>{{ getErrorMessage('ubicacion_origen') }}</small>
                </div>
            </div>

            <div class="input-container">
                <label for="ubicacion_destino">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                                stroke="currentColor" stroke-width="1.5" />
                        </g>
                    </svg>
                    <span>Ubicación Destino</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('ubicacion_destino')}">
                    

                    <mat-form-field appearance="outline">
                        <mat-select id="ubicacion_destino" formControlName="ubicacion_destino">
                            <mat-option value="">Seleccione ubicación destino</mat-option>

                            <mat-option *ngFor="let item of ubicaciones" [value]="item.id_ubicacion">
                                {{ item.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div *ngIf="isFieldInvalid('ubicacion_destino')" class="text-error-message">
                    <small>{{ getErrorMessage('ubicacion_destino') }}</small>
                </div>
            </div>

            <div class="input-container">
                <label for="id_transportista">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M8 5V3C8 2.44772 8.44772 2 9 2H15C15.5523 2 16 2.44772 16 3V5"
                                stroke="currentColor" stroke-width="1.5" />
                            <circle cx="7" cy="12" r="1" fill="currentColor" />
                            <circle cx="17" cy="12" r="1" fill="currentColor" />
                        </g>
                    </svg>
                    <span>Transportista</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('id_transportista')}">
                   


                    <mat-form-field appearance="outline">
                        <mat-select id="id_transportista" formControlName="id_transportista">
                            <mat-option value="">Seleccione un transportista</mat-option>

                            <mat-option *ngFor="let item of transportistas" [value]="item.id_transportista">
                                {{ item.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div *ngIf="isFieldInvalid('id_transportista')" class="text-error-message">
                    <small>{{ getErrorMessage('id_transportista') }}</small>
                </div>
            </div>

            <div class="input-container">
                <label for="fecha_envio">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2" stroke="currentColor"
                                stroke-width="1.5" />
                            <line x1="16" y1="2" x2="16" y2="6" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" />
                            <line x1="8" y1="2" x2="8" y2="6" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" />
                            <line x1="3" y1="10" x2="21" y2="10" stroke="currentColor" stroke-width="1.5" />
                        </g>
                    </svg>
                    <span>Fecha de Envío</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('fecha_envio')}">
                   

                     <mat-form-field appearance="outline"> 
                        <input matInput [matDatepicker]="picker1" formControlName="fecha_envio" />
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                </div>
                <div *ngIf="isFieldInvalid('fecha_envio')" class="text-error-message">
                    <small>{{ getErrorMessage('fecha_envio') }}</small>
                </div>
            </div>

            <div class="input-container">
                <label for="fecha_recepcion">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2" stroke="currentColor"
                                stroke-width="1.5" />
                            <line x1="16" y1="2" x2="16" y2="6" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" />
                            <line x1="8" y1="2" x2="8" y2="6" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" />
                            <line x1="3" y1="10" x2="21" y2="10" stroke="currentColor" stroke-width="1.5" />
                        </g>
                    </svg>
                    <span>Fecha de Recepción</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('fecha_recepcion')}">


                     <mat-form-field appearance="outline"> 
                        <input matInput [matDatepicker]="picker2" formControlName="fecha_recepcion" />
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                </div>
                <div *ngIf="isFieldInvalid('fecha_recepcion')" class="text-error-message">
                    <small>{{ getErrorMessage('fecha_recepcion') }}</small>
                </div>
            </div>

             <div class="flex-end" style="margin-top: 30px;">
                <button type="submit" class="btn btn-blue">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.1716 1C18.702 1 19.2107 1.21071 19.5858 1.58579L22.4142 4.41421C22.7893 4.78929 23 5.29799 23 5.82843V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H18.1716ZM4 3C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21L5 21L5 15C5 13.3431 6.34315 12 8 12L16 12C17.6569 12 19 13.3431 19 15V21H20C20.5523 21 21 20.5523 21 20V6.82843C21 6.29799 20.7893 5.78929 20.4142 5.41421L18.5858 3.58579C18.2107 3.21071 17.702 3 17.1716 3H17V5C17 6.65685 15.6569 8 14 8H10C8.34315 8 7 6.65685 7 5V3H4ZM17 21V15C17 14.4477 16.5523 14 16 14L8 14C7.44772 14 7 14.4477 7 15L7 21L17 21ZM9 3H15V5C15 5.55228 14.5523 6 14 6H10C9.44772 6 9 5.55228 9 5V3Z"
                                fill="currentColor"></path>
                        </g>
                    </svg>
                    <span>{{ isEditMode ? 'Actualizar Movimiento' : 'Guardar Movimiento' }}</span>
                </button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">
                    <svg class="icono-1" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>cancel</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="work-case" fill="#000000" transform="translate(91.520000, 91.520000)">
                                    <polygon id="Close"
                                        points="328.96 30.2933333 298.666667 1.42108547e-14 164.48 134.4 30.2933333 1.42108547e-14 1.42108547e-14 30.2933333 134.4 164.48 1.42108547e-14 298.666667 30.2933333 328.96 164.48 194.56 298.666667 328.96 328.96 298.666667 194.56 164.48">
                                    </polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
</div>