<div class="flex-between">
    <h2 class="page-tittle">Gestión de Usuarios</h2>
</div>

<div class="error-message" *ngIf="error">{{ error }}</div>

<div class="loading" *ngIf="loading">Cargando usuarios...</div>

<table *ngIf="!loading && usuarios.length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Última Conexión</th>
            <th>Rol</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.ultima_conexion | date:'short' }}</td>
            <td>
                <mat-button-toggle-group [value]="usuario.rol" (change)="cambiarRolUsuario(usuario, $event.value)">

                    <mat-button-toggle value="usuario">Usuario</mat-button-toggle>
                    <mat-button-toggle value="admin">Admin</mat-button-toggle>

                </mat-button-toggle-group>

            </td>
            <td>
                <mat-button-toggle-group [value]="usuario.activo ? 'activo' : 'inactivo'"
                    (change)="cambiarEstadoUsuario(usuario, $event.value)">

                    <mat-button-toggle value="activo">Activo</mat-button-toggle>
                    <mat-button-toggle value="inactivo">Inactivo</mat-button-toggle>

                </mat-button-toggle-group>

            </td>
            
            <td>
                
            </td>
        </tr>
    </tbody>
</table>

<div class="no-data" *ngIf="!loading && usuarios.length === 0 && !error">
    No hay usuarios registrados.
</div>