<div class="flex-between">
  <h2 class="page-tittle">Mediciones de Temperatura</h2>
  <div class="flex-end">
    <button (click)="abrirModalNuevo()" class="btn btn-blue">
      
      <span>Nueva Medición</span>
      <svg class = "icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        
            <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"></path>
         
       
      </svg>
    </button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Id Lote</th>
      <th>Sensor</th>
      <th>Vacuna</th>
      <th>Temperatura</th>
      <th>Ultima actualizacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medicion of mediciones">
      <td>{{ medicion.id_lote }}</td>
      <td>{{ medicion.sensor }}</td>
      <td>{{ medicion.vacuna }}</td>
      <td>{{ medicion.temperatura_c }}°C</td>
      <td>{{ medicion.timestamp_medicion | date:'short' }}</td>
    </tr>
    <tr *ngIf="mediciones.length === 0">
      <td colspan="5" style="text-align: center;">No hay registros en el sistema.</td>
    </tr>
  </tbody>
</table>

<app-app-medicion-temp-form #formComponent (medicionGuardada)="cargarMediciones()"></app-app-medicion-temp-form>
