:host{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

svg{
    cursor: pointer;
    transition: transform 0.3s;
}

svg:hover{
    transform: translateY(-5px);
}

.container-contact{
    background-color: var(--blue-50);
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}
