svg{
    cursor: pointer;
    transition: transform 0.3s;
}

svg:hover{
    transform: translateY(-5px);
}

.container-contact{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--blue-50);
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}
