<p>vacuna-list works!</p>
<p>Lista de Vacunas Registradas (Reglas de Cadena de Frío)</p>

<a routerLink="/vacunas/nuevo" class="btn btn-primary"> Nueva Vacuna </a>

<div *ngIf="error" class="alert alert-danger">
    {{ error }}
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Comercial</th>
            <th>Fabricante</th>
            <th>Temp Mínima (°C)</th>
            <th>Temp Máxima (°C)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacuna of vacunas">
            <td> {{ vacuna.id_vacuna }} </td>
            <td> {{ vacuna.nombre_comercial }} </td>
            <td> {{ vacuna.fabricante }} </td>
            <td> {{ vacuna.temp_min_c }} </td>
            <td> {{ vacuna.temp_max_c }} </td>
            <td> 
                <a [routerLink]="['/vacunas/editar', vacuna.id_vacuna]">Editar</a> 
                | 
                <button (click)="eliminarVacuna(vacuna.id_vacuna!)" class="btn btn-danger btn-sm">
                    Eliminar
                </button> 
            </td>
        </tr>
        <tr *ngIf="vacunas.length === 0 && !error">
            <td colspan="6" style="text-align: center;">No hay vacunas registradas en el sistema.</td>
        </tr>
    </tbody>
</table>