:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    --header-padding: 10px 50px 10px 30px;
    --header-height: 70px;
    --header-width: 100vw;
}

.logo span {
    margin-left: 20px;
    font-weight: 800;
    color: var(--color-font);
    font-size: var(--font-12);
}

.btn-aside {
    display: inline-flex;
    justify-content: end;
    padding:8px 25px;
    gap: 20px;  
    span {
        font-size: var(--font-12);
        color: var(--color-font);
    }
    svg {
        color: var(--color-font);
    }
}

.btn-aside:nth-child(5) {
    margin-bottom: 40px;

}
.btn-aside:nth-child(10) {
    margin-bottom: 40px;

}

.btn-aside:hover {
    
    border-bottom: 2px solid var(--color-font);
    svg {
        color: var(--color-font);
    }
    span {
        transition: transform 0.1s ease-in;
        color: var(--color-font);
        transform: scale(1.1) translateX(5px);
    }
}

.active-btn {
    border-bottom: 2px solid ;
    border-right: 2px solid ;

    border-image: linear-gradient(to top left, var(--color-font) 40%, transparent 50%) 3;

    span {
        font-size: var(--font-18);
        transform: none !important;
        color: var(--color-font);
        font-weight: 1000;
    }
    svg{
        color: var(--color-font);
    }
}

.scroll-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: var(--header-width);
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: var(--header-padding);
    justify-content: space-between; 
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.toggle-btn{
    transition: transform 0.1s ease-in  ;
}

.toggle-btn:hover{
    
    transform: scale(1.1);
}
.user-role{
    color: var(--color-font);
    font-size: var(--font-12);
}
aside {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

aside.collapsed {
    width: 86.7912px;
    button {

        width: fit-content;
    }
    span {
        display: none;
    }
}

section {
    flex: 1;
    padding: 20px 0px;
    overflow-y: auto;
    background: var(--c-color-secundary-1);
    transition: all 0.3s ease;
}

.layer-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

/* Capa base */
.layer {
  position: absolute;
  inset: 0;
}


/* Fondos */
.background-layer {
  z-index: 1;
}


