:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    --header-padding: 10px 50px;
    --header-height: 70px;
  --header-width: 100vw;
    --background-color: var(--blue-50);

  --border-color: var(--blue-200);
  --aside-padding: 30px 10px 20px 10px;

  
}



.scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: var(--header-width);
    height: var(--header-height);
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: var(--header-padding);
    justify-content: space-between;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    
    width: 200px;
    background: var(--background-color);
    border-right: 1px solid var(--border-color);
    height: 100%;
    padding: var(--aside-padding);
    overflow-x: hidden;
    transition: width 0.05s ease;
    white-space: nowrap;
    gap: 10px;
}

aside.collapsed {
    width: 76.7912px;
   
    button {
       
        width: fit-content;
    }

    span {
        display: none;
    }
}

section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: var(--c-color-secundary-1);
    transition: all 0.3s ease;
}