:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: var(--c-color-secundary-1);
    border-bottom: 1px solid var(--c-color-secundary-2);
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    flex-shrink: 0;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    
    width: 200px;
    background: var(--c-color-secundary-1);
    border-right: 1px solid var(--c-color-secundary-2);
    height: 100%;
    padding: 30px 10px 20px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.08s ease;
    white-space: nowrap;
    gap: 10px;
}

aside.collapsed {
    width: 76.7912px;
   
    button {
       
        width: fit-content;
    }

    span {
        display: none;
    }
}

section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: var(--c-color-secundary-1);
    transition: all 0.3s ease;
}