.user-menu {


    position: relative;
    display: inline-block;
}

.user {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    height: 100%;
    background-color: var(--blue-300);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
    user-select: none;
}

.arrow {
    margin-left: 5px;
    transition: transform 0.25s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.user span {
    margin-left: 8px;
    font-size: var(--font-12);
    font-weight: 500;
    color: var(--blue-500);
}

.google-user-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 46px;
    background: var(--blue-300);
    border-radius: 8px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
}

.dropdown button {
    width: 100%;
    padding: 10px 14px;
    border: none;
    background: none;
    text-align: left;
    justify-content: flex-start;
    cursor: pointer;

}

.dropdown button span {
    font-size: var(--font-12);
}

.dropdown button:hover {
    background-color: var(--blue-300);
}

.logout {
    color: #d32f2f;
}