:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--blue-200);
}

.scroll-container{
     overflow-y: scroll;
    overflow-x: hidden;
}