:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.scroll-container{
     overflow-y: scroll;
    overflow-x: hidden;
}

.bg-container {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-track {
    position: absolute;
    width: 100%;
    height: calc(1080px);
    background-image: url('/fondo_app.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.bg-color {
    position: absolute;
    inset: 0;
    background: var(--blue-100);
    mix-blend-mode: multiply;
    pointer-events: none;
}