<form id="registerGoogleForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <h1 class="page-tittle">Crear mi cuenta con google</h1>
    <p class="page-description">Completa los siguientes campos para finalizar la creación de tu cuenta.</p>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-error">
        {{ errorMessage }}
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
    </div>

    <div class="google-user-container">
        <img *ngIf="picture" [src]="picture" alt="Foto de perfil de Google" class="google-user-picture" />

        <div>
            <div class="google-user-details">
                <p class="google-user-nombre">{{ nombres }}</p>
            </div>
            <div class="google-user-details">
                <p class="google-user-email">{{ email }}</p>
            </div>
        </div>

    </div>

    <input type="hidden" formControlName="email" [value]="email" />
    <input type="hidden" formControlName="name" [value]="nombres" />
    <input type="hidden" formControlName="is_google_account" [value]="true" />
    <input type="hidden" formControlName="picture" [value]="picture" />
    <input type="hidden" formControlName="password" [value]="" />
    
    <button class="btn-dark" type="submit">
        <span >Usar esta cuenta de google</span>
    </button>

    <button class="btn-default" routerLink="/auth/login">
        <svg class="icono-1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                <path fill="#000000"
                    d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z">
                </path>
            </g>
        </svg>
        <span>Volver</span>
    </button>


</form>