:host {
    position: relative;
    display: inline-flex;
    flex: 1;
    font-family: system-ui, sans-serif;
}

.welcome {
    max-width:35%;
    margin-left: 5%;
    z-index: 2;
}

.welcome h1 {
    position: relative;
    top: 30%;
    font-size: 2.9rem;
    color: var(--color-font);
}

.welcome p {
    position: relative;
    top: 30%;
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.5;
    color: var(--color-font);
}

.cards {
    position: relative;
    height: 100%;
}

.card {
    position: absolute;
    width: 160px;
    padding: 1rem;
    border-radius: 16px;
    background: #ffd633cf;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    animation: float 6s ease-in-out infinite;
}

.card .title {
    font-size: 0.85rem;
    opacity: 0.7;
}

.card .value {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.3rem;
    display: block;
}

.float-1 {
    top: 0;
    right: -100px;
}

.float-2 {
    top: 70px;
    left: -70px;
    animation-delay: 1.5s;
}

.float-3 {
    top: 350px;
    right: 60px;
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

.img {
    --width: 500px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    right: 10%;
    top: calc(50% - (var(--width) / 2));
    background-image: url('/fondo_app_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}