
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";

*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100vh;
    overflow-y: hidden;
}

:host,
:root {
    /* Spacing */
    --spacing: .25rem;

    /* Border radius */
    --border-radius-default-1: 5px;
    --border-radius-default-2: 12px;
    --button-padding-default: 8px 10px;
    --button-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);

    /* Tipografías */
    --font-10: 0.615rem;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-22: 1.375rem;
    --font-24: 1.5rem;
    --font-26: 1.625rem;
    --font-28: 1.75rem;
    --font-30: 1.875rem;
    --font-32: 2rem;
    --font-34: 2.125rem;
    --font-36: 2.25rem;
    --font-38: 2.375rem;
    --font-40: 2.5rem;

    --gray-950: oklch(10% 0.003 300);
    --gray-900: oklch(18% 0.004 300);
    --gray-800: oklch(25% 0.007 302);
    --gray-700: oklch(30% 0.010 305);
    --gray-600: oklch(40% 0.015 305);
    --gray-500: oklch(55% 0.020 305);
    --gray-400: oklch(65% 0.015 305);
    --gray-300: oklch(80% 0.010 305);
    --gray-250: oklch(86% 0.008 302);
    --gray-200: oklch(92% 0.004 300);
    --gray-150: oklch(94% 0.003 300);
    --gray-100: oklch(96% 0.002 300);
    --gray-50: oklch(99% 0 0);

    --blue-950: oklch(12% 0.07 250);
    --blue-900: oklch(20% 0.06 250);
    --blue-800: oklch(33% 0.065 250);
    --blue-700: oklch(40% 0.062 247.22);
    --blue-600: oklch(48% 0.12 250);
    --blue-500: oklch(55% 0.13 250);
    --blue-400: oklch(65% 0.11 250);
    --blue-300: oklch(80% 0.08 250);
    --blue-200: oklch(92% 0.05 250);
    --blue-100: oklch(95% 0.03 250);
    --blue-50: oklch(97% 0.02 250);


    --yellow-950: oklch(30% 0.050 100);
    --yellow-900: oklch(45% 0.090 100);
    --yellow-850: oklch(55% 0.105 100);
    --yellow-800: oklch(60% 0.110 100);
    --yellow-750: oklch(68% 0.115 100);
    --yellow-700: oklch(75% 0.120 100);
    --yellow-650: oklch(83% 0.123 100);
    --yellow-600: oklch(85% 0.125 100);
    --yellow-550: oklch(88% 0.125 100);
    --yellow-500: oklch(91% 0.125 100);
    --yellow-450: oklch(92% 0.115 100);
    --yellow-400: oklch(94% 0.110 100);
    --yellow-350: oklch(95% 0.100 100);
    --yellow-300: oklch(96% 0.090 100);
    --yellow-250: oklch(97% 0.070 100);
    --yellow-200: oklch(98% 0.050 100);
    --yellow-150: oklch(98.5% 0.035 100);
    --yellow-100: oklch(99% 0.020 100);


    --green-900: oklch(20% 0.05 145);
    --green-700: oklch(35% 0.08 145);
    --green-500: oklch(55% 0.12 145);
    --green-300: oklch(80% 0.07 145);
    --green-200: oklch(92% 0.04 145);
    --green-50: oklch(99% 0.01 145);

    /* Scroll */
    --scroll-thumb-bg-color: var(--blue-400);
    --scroll-thumb-bg-color-hv: var(--blue-500);

    /* Light */
    --color-font: #04009a;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bg-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-bg-color-hv);
}

::-webkit-scrollbar-track {
    background: transparent;
}

table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: var(--button-box-shadow);
}

thead {
    background: var(--blue-300);
    color: var(--color-font);
}

th:last-child,
td:last-child {
    white-space: nowrap;
    width: 1%;
}

.acciones {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

thead th {
    padding: 12px 20px;
    text-align: left;
    font-size: var(--font-12);
}

tbody td {
    padding: 10px 20px;
    font-size: var(--font-10);
    color: var(--gray-500);
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
}

tbody tr {
    background-color: white;
}

tbody tr:hover {
    background: var(--blue-200);
}

svg {
    display: block;
    color: var(--color-font);
}

[class^="icono-"] {
    width: calc(var(--spacing) * var(--i));
    height: calc(var(--spacing) * var(--i));
}

.icono-0 {
    --i: 4;
}

.icono-1 {
    --i: 5;
}

.icono-2 {
    --i: 6;
}

.icono-3 {
    --i: 7;
}

.icono-4 {
    --i: 8;
}

.icono-5 {
    --i: 9;
}

.icono-6 {
    --i: 10;
}

button {
    border: none;
    background: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
    gap: 5px;
}

button span {
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 500;
    white-space: nowrap;
}

a {
    border: none;
    text-decoration: none;
    background: none;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 5px;

}

a span {
    color: var(--color-font);
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
}

.btn {
    position: relative;
    padding: var(--button-padding-default);
    box-shadow: var(--button-box-shadow);
    transition: transform ease 100ms;
    border-radius: var(--border-radius-default-1);
    background-color: var(--btn-bg);
     filter: drop-shadow(0 0 0.7em var(--btn-bg));

    z-index: 0;
}

.btn span {
    color: var(--btn-text);
    font-weight: 600;
}

.btn svg {
    color: var(--btn-text);
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 3px);
    background-color: var(--btn-bg-accent);
    
    border-radius: inherit;
    transition: height 100ms ease, background-color 100ms;
    z-index: -1;
}

.btn:hover::after {
    background-color: var(--btn-bg-hover);
}

.btn:active {
    transform: translateY(3px);
}

.btn:active::after {
    height: 100%;
}

.btn-blue {
    --btn-bg: #1976d2;
    --btn-bg-accent: #3d9cea;
    --btn-bg-hover: #1e88e5;
    --btn-text: #d0eeff;
}

.btn-green {
    --btn-bg: #2e7d32;
    --btn-bg-accent: #66bb6a;
    --btn-bg-hover: #388e3c;
    --btn-text: #e8f5e9;
}

.btn-default-black {
    background-color: rgb(54, 54, 54);
    border-radius: 4px;
    padding: 0.6rem 1rem;
    height: 38.3638px;

    span {
        color: rgb(250, 250, 255);
        font-weight: 300;
        font-size: var(--font-14);
    }

    svg {
        color: rgb(250, 250, 255);
    }

    &:hover {
        background-color: rgb(84, 84, 84);
    }
}

.btn-default-yellow {
    background-color: #ffd633;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    height: 38.3638px;

    span {
        color: black;
        font-weight: 500;
        font-size: var(--font-14);
    }

    &:hover {
        background-color: #f5cb32;
    }
}

.btn-default-white {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 0.6rem 1rem;
    height: 38.3638px;
    border: 1px solid #dadce0;

    span {
        color: rgb(60, 64, 67);
        font-weight: 200;
        font-size: var(--font-14);
    }

    &:hover {
        background-color: #f0f5fe;
    }
}

.btn-danger {
    --btn-bg: #c62828;
    --btn-bg-accent: #e53935;
    --btn-bg-hover: #b71c1c;
    --btn-text: #fff;
}

.btn-secondary {
    --btn-bg: #c4cad0;
    --btn-bg-accent: #dce1e8;
    --btn-bg-hover: #c0c6cd;
    --btn-text: #000;
}

.btn-yellow {
    --btn-bg: #f4c20d;
    --btn-bg-accent: #ffdb4d;
    --btn-bg-hover: #ffd633;
    --btn-text: #222;
}

.btn-orange {
    --btn-bg: #fb8c00;
    --btn-bg-accent: #ffa726;
    --btn-bg-hover: #ff9800;
    --btn-text: #fff;
}

.btn-purple {
    --btn-bg: #8e24aa;
    --btn-bg-accent: #ba68c8;
    --btn-bg-hover: #9c27b0;
    --btn-text: #fff;
}

.btn-pink {
    --btn-bg: #d81b60;
    --btn-bg-accent: #f06292;
    --btn-bg-hover: #e91e63;
    --btn-text: #fff;
}

.btn-black {
    --btn-bg: #000;
    --btn-bg-accent: #333;
    --btn-bg-hover: #111;
    --btn-text: #fff;
}

.btn-white {
    --btn-bg: #ffffff;
    --btn-bg-accent: #f0f0f0;
    --btn-bg-hover: #fafafa;
    --btn-text: #000;
}

.btn-disabled {
    --btn-bg: #d6d6d6;
    --btn-bg-accent: #c2c2c2;
    --btn-bg-hover: #d6d6d6;
    --btn-text: #8a8a8a;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
    color: black;
    height: auto;
    display: flex;
    align-items: center;
    font-size: var(--font-14);
    padding: 10px 14px;
    transition: 0.2s ease-in-out;

    &:focus-within {
        border: 1px solid rgb(15, 126, 237);

    }
}

input::placeholder {
    color: var(--gray-300);
}

input:focus {
    outline: none;
}

label {
    display: inline-flex;
    align-items: center;
}

label svg {
    color: rgb(34, 34, 34);
}

label span {
    margin-left: 3px;
    font-size: var(--font-12);
    font-weight: 700;
    color: var(--color-font);
}

label svg {
    color: var(--color-font);
}


.is-invalid input {
    border-color: red;
    background-color: rgb(255, 250, 250);

}

.is-invalid {
    position: relative;
    overflow: visible;
}



.ngx-slider span {
    font-size: var(--font-12) !important;

}

.ngx-slider .ngx-slider-bubble:after {
    content: " °C";
}

.ngx-slider .ngx-slider-pointer {
    width: 20px !important;
    height: 20px !important;
    top: -8px !important;
    background-color: var(--color-font) !important;
}

.ngx-slider .ngx-slider-pointer:hover {
    transform: scale(1.2) !important;
}

.ngx-slider .ngx-slider-selection {
    background: linear-gradient(to right, blue, orange) !important;
}

.ngx-slider .ngx-slider-pointer:after {
    width: 0px !important;
    height: 0px !important;
    top: 6px !important;
    left: 6px !important;
}

.ngx-slider .ngx-slider-bar {
    height: 6px !important;
}


.is-invalid::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;

    background-image: url('/icon-error.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.text-error-message {
    font-size: var(--font-12);
    color: red;
    padding: 3px 0;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

select {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #9e9e9e;
    background-color: white;
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;
}

select:hover {
    border-color: #616161;
}

select:focus {
    border-color: rgb(15, 126, 237);
}

select option {
    padding: 8px;
}

.page-tittle {
    font-weight: 800;
    color: var(--color-font);
}

.page-description {
    font-size: var(--font-14);
    font-weight: 200;
    line-height: 1.4rem;
    letter-spacing: -.00875rem;
    color: var(--color-font);
}

.page-subtittle {
    font-weight: 600;
    font-size: var(--font-16);
    color: var(--color-font);
}

.separator-line {
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right, transparent, #E0E0E0, transparent);
}

.separator-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator-text::before,
.separator-text::after {
    content: "";
    flex: 1;
    height: 1.5px;
    background: linear-gradient(to right, transparent, #E0E0E0, transparent);
}

.separator-text span {
    color: #757575;
    font-size: 0.725rem;
    white-space: nowrap;
}

.mat-mdc-form-field {
    display: flex !important;
    width: 100% !important;
    background-color: white !important;
}

.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
    border-width: 1px !important;
    border-color: none !important;
    transition: border-color .1s ease-in-out;
}


.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
    border-color: rgb(15, 126, 237) !important;
}

.mat-mdc-select-trigger {
    padding: 0 !important;
    font-size: var(--font-14) !important;
}


.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    --mat-form-field-container-vertical-padding: 10px !important;
    --mat-form-field-container-height: 0px !important;
}

.mat-mdc-form-field-bottom-align {
    display: none !important;
}

.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--outlined .mdc-text-field--no-label .mdc-text-field--invalid {
    padding: 0px 0px !important;
}

.mat-mdc-select-panel {
    background: var(--gray-50) !important;
    border-radius: var(--button-border-radius) !important;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18) !important;
    margin-top: 5px;
    padding: 0px 0px !important;
}

@keyframes slideDown {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: var(--font-14) !important;
    color: var(--color-font) !important;
    padding: 0px 0px;
}

.mat-mdc-option:hover {
    background-color: var(--gray-100) !important;
}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(230, 230, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    width: 90%;
    max-width: 500px;
    background: rgba(250, 250, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 12px;
    padding: 50px;
    animation: fadeInScale 0.3s ease;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.mat-datepicker-content {
    border: 1px solid var(--blue-500) !important;
    margin-bottom: 5px;
    padding: 10px;
    background-color: white !important;
    color: var(--mat-datepicker-calendar-container-text-color, var(--mat-sys-on-surface));

    border-radius: var(--mat-datepicker-calendar-container-shape, var(--mat-sys-corner-large));
}

.mat-calendar-table-header th {
    text-align: center;
    padding: 10px 0 0px 0 !important;
    color: var(--color-font) !important;
    font-size: var(--mat-datepicker-calendar-header-text-size, var(--mat-sys-title-small-size));
    font-weight: var(--mat-datepicker-calendar-header-text-weight, var(--mat-sys-title-small-weight));
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border-radius: 3px !important; 
    border: solid 1px ;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 10px !important;
    line-height: 25px !important;
    font-size: var(--font-10) !important;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: var(--blue-50) !important;
    background-color: var(--blue-500) !important;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after, .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
     color: white !important; 
     width: 7px !important;
     height: 3px !important;
}
.mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
    padding-left: 23px !important;
}




/* ESTO ES LO NUEVO: Añade esto también al final de styles.css */
app-mapa-monitoreo {
    display: block;
    width: 100%;
    height: 100%;
}


/* --- ESTILOS PERSONALIZADOS PARA EL MAPA --- */
.leaflet-container {
    font-family: 'Inter', sans-serif !important;
}

/* Los controles de Zoom (+ / -) con tu azul */
.leaflet-bar a {
    background-color: white !important;
    color: var(--color-font) !important; 
    border-bottom: 1px solid var(--gray-200) !important;
}

.leaflet-bar a:hover {
    background-color: var(--gray-100) !important;
}

/* El cuadro con las instrucciones de la ruta */
.leaflet-routing-container {
    background: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(5px);
    border: 1px solid var(--gray-200) !important;
    border-radius: var(--border-radius-default-1) !important;
    color: var(--gray-900) !important;
}