*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-y: hidden;
}

:host,
:root {
    /* Permite a los navegadores usar UI nativa en light/dark */
    color-scheme: light dark;

    /* Spacing */
    --spacing: .25rem;

    /* Border radius */
    --border-radius-default-1: 8px;
    --border-radius-default-2: 12px;

    --button-padding-default: 8px 14px;

    --button-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Tipografías */
    --font-10: 0.615rem;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;

    /* Grises OKLCH */
    --gray-900: oklch(18% 0.004 300);
    --gray-700: oklch(30% 0.010 305);
    --gray-500: oklch(55% 0.020 305);
    --gray-300: oklch(80% 0.010 305);
    --gray-200: oklch(92% 0.004 300);
    --gray-50: oklch(99% 0 0);

    --blue-900: oklch(20% 0.06 250);
    --blue-700: oklch(35% 0.09 250);
    --blue-500: oklch(55% 0.13 250);
    --blue-300: oklch(80% 0.08 250);
    --blue-200: oklch(92% 0.05 250);
    --blue-50: oklch(99% 0.01 250);

    --green-900: oklch(20% 0.05 145);
    --green-700: oklch(35% 0.08 145);
    --green-500: oklch(55% 0.12 145);
    --green-300: oklch(80% 0.07 145);
    --green-200: oklch(92% 0.04 145);
    --green-50: oklch(99% 0.01 145);


    /* Scroll */
    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    /* Light */
    --color-font: #04009a;
}

/*
html.color-scheme-light {
    color-scheme: light;

    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    --c-color-secundary-1: rgb(255, 255, 255);
    --c-color-secundary-2: rgb(220, 220, 220);

    --color-font: rgb(0, 0, 0);
}

html.color-scheme-dark {
    color-scheme: dark;

    --scroll-thumb-bg-color: #746e7c;
    --scroll-thumb-bg-color-hv: #a39fa9;

    --c-color-secundary-1: rgb(38, 38, 38);
    --c-color-secundary-2: rgb(84, 84, 84);

    --color-font: rgb(255, 255, 255);
}

body.color-scheme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

*/

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {background: var(--scroll-thumb-bg-color);border-radius: 8px;}
::-webkit-scrollbar-thumb:hover {background: var(--scroll-thumb-bg-color-hv);}
::-webkit-scrollbar-track {background: transparent;}


table {
    margin: 10px 0;
    width: fit-content;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 2px 0 var(--gray-200);
    margin-bottom: 4px;
}

thead {
    background: var(--gray-700);
    color: white;

}

thead th {
    padding: 10px 16px;
    text-align: left;
    font-size: var(--font-12);
    letter-spacing: 0.5px;
}

tbody tr {
    background: #ffffff;
    transition: 0.2s;
}

tbody tr td:last-child {
    display: inline-flex;
    gap: 10px;
}

tbody tr:nth-child(even) {
    background: #f9fafb;
}

tbody tr:hover {
    background: #eef2ff;

}

tbody td {
    padding: 10px 16px;
    font-size: var(--font-12);
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
}






svg {
    display: block;
    color: var(--color-font);
}


[class^="icono-"] {
    width: calc(var(--spacing) * var(--i));
    height: calc(var(--spacing) * var(--i));
}
.icono-0 {--i: 4;}
.icono-1 {--i: 5;}
.icono-2 {--i: 6;}
.icono-3 {--i: 7;}
.icono-4 {--i: 8;}


button {
    border: none;
    background: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
    gap: 5px;
}

button span {
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 500;
    white-space: nowrap;
}

a {
    border: none;
    text-decoration: none;
    background: none;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 5px;

}

a span {
    color: var(--color-font);
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
}



.btn {
    position: relative;
    padding: var(--button-padding-default);
    box-shadow: var(--button-box-shadow);
    transition: transform ease 100ms;
    border-radius: var(--border-radius-default-1);
    background-color: var(--btn-bg);
    
    z-index: 0;
}

.btn span {
    color: var(--btn-text);
    font-weight: 600;
}
.btn svg {  
    color: var(--btn-text);
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 2px);
    background-color: var(--btn-bg-accent);
    border-radius: inherit;
    transition: height 100ms ease, background-color 100ms;
    z-index: -1;
}

.btn:hover::after {
    background-color: var(--btn-bg-hover);
}

.btn:active {
    transform: translateY(2px);
}

.btn:active::after {
    height: 100%;
}

.btn-primary {
    --btn-bg: #1976d2;
    --btn-bg-accent: #3d9cea;
    --btn-bg-hover: #1e88e5;
    --btn-text: #d0eeff;
}
.btn-danger {
    --btn-bg: #c62828;
    --btn-bg-accent: #e53935;
    --btn-bg-hover: #b71c1c;
    --btn-text: #fff;
}

.btn-secondary {
    --btn-bg: #c4cad0;
    --btn-bg-accent: #dce1e8;
    --btn-bg-hover: #c0c6cd;
    --btn-text: #000;
}

.btn-yellow {
    --btn-bg: #f4c20d;
    --btn-bg-accent: #ffdb4d;
    --btn-bg-hover: #ffd633;
    --btn-text: #222;
}

.btn-orange {
    --btn-bg: #fb8c00;
    --btn-bg-accent: #ffa726;
    --btn-bg-hover: #ff9800;
    --btn-text: #fff;
}

.btn-purple {
    --btn-bg: #8e24aa;
    --btn-bg-accent: #ba68c8;
    --btn-bg-hover: #9c27b0;
    --btn-text: #fff;
}

.btn-pink {
    --btn-bg: #d81b60;
    --btn-bg-accent: #f06292;
    --btn-bg-hover: #e91e63;
    --btn-text: #fff;
}

.btn-black {
    --btn-bg: #000;
    --btn-bg-accent: #333;
    --btn-bg-hover: #111;
    --btn-text: #fff;
}

.btn-white {
    --btn-bg: #ffffff;
    --btn-bg-accent: #f0f0f0;
    --btn-bg-hover: #fafafa;
    --btn-text: #000;
}

.btn-disabled {
    --btn-bg: #d6d6d6;
    --btn-bg-accent: #c2c2c2;
    --btn-bg-hover: #d6d6d6;
    --btn-text: #8a8a8a;

    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}







.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


input {
    width: 100%;
    background-color: var(--gray-50);
    border: 1px solid var(--gray-300);
    height: auto;
    display: flex;
    align-items: center;
    font-size: var(--font-14);
    padding: 10px 14px;
    transition: 0.2s ease-in-out;

    &:focus-within {
        border: 1px solid rgb(15, 126, 237);

    }
}

input::placeholder {
    color: var(--gray-500);
}

input:focus {
    outline: none;
}







select {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #9e9e9e;
    background-color: white;
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;
}

select:hover {
    border-color: #616161;
}

select:focus {
    border-color: rgb(15, 126, 237);
}

select option {
    padding: 8px;
}




.page-tittle {
    font-weight: 800;
    color: var(--text-color);
}

.page-description {
    font-size: var(--font-14);
    font-weight: 200;
    line-height: 1.4rem;
    letter-spacing: -.00875rem;
    color: var(--text-color);
}

.page-subtittle {
    font-weight: 600;
    font-size: var(--font-16);
    color: var(--text-color);
}


.separator-line {
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right, transparent, #E0E0E0, transparent);
}

.separator-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator-text::before,
.separator-text::after {
    content: "";
    flex: 1;
    height: 1.5px;
    background: linear-gradient(to right, transparent, #E0E0E0, transparent);
}

.separator-text span {
    color: #757575;
    font-size: 0.725rem;
    white-space: nowrap;
}




/* ---- BORDE PERSONALIZADO ---- */
.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
    border-width: 1px !important;
    border-color: var(--gray-300) !important;
    transition: border-color .1s ease-in-out;
}

/* HOVER */
.mat-mdc-form-field:hover .mdc-notched-outline__leading,
.mat-mdc-form-field:hover .mdc-notched-outline__notch,
.mat-mdc-form-field:hover .mdc-notched-outline__trailing {
    border-color: rgb(15, 126, 237) !important;
}

/* FOCUS */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
    border-color: rgb(15, 126, 237) !important;
}



/* ---- ALTURA DEL TRIGGER (el texto dentro del select) ---- */
.mat-mdc-select-trigger {
    padding: 0 14px !important;
    font-size: var(--font-14) !important;
}

.mat-mdc-form-field {

    display: inline-flex;

}


.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    --mat-form-field-container-vertical-padding: 10px !important;
    --mat-form-field-container-height: 0px !important;
}

.mat-mdc-form-field-bottom-align {
    display: none;
}


.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--outlined .mdc-text-field--no-label .mdc-text-field--invalid {
    padding: 0px 0px !important;
}

/* PANEL DEL SELECT */
.mat-mdc-select-panel {
    background: var(--gray-50) !important;
    border-radius: var(--button-border-radius) !important;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18) !important;
    margin-top: 5px;
    padding: 0px 0px !important;
    animation: slideDown .15s ease-out;
}

/* Animación suave */
@keyframes slideDown {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* TEXTO DE LAS OPCIONES */
.mat-mdc-option .mdc-list-item__primary-text {
    font-size: var(--font-14) !important;
    color: var(--color-font) !important;
    padding: 0px 0px;
}

/* HOVER */
.mat-mdc-option:hover {
    background-color: var(--gray-100) !important;
}

/* SELECCIONADO */
.mat-mdc-option.mdc-list-item--selected {
    background-color: rgba(15, 126, 237, 0.568) !important;
}