<div class="modal-overlay" *ngIf="showModal">
    <div class="modal-container">
        <form [formGroup]="inventarioStockForm" (ngSubmit)="onSubmit()">
            <h1 class="page-tittle">{{ isEditMode ? 'Editar Inventario Stock' : 'Registrar Inventario Stock' }}</h1>

            <div class="input-container">
                <label for="id_lote">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9844 10C21.9473 8.68893 21.8226 7.85305 21.4026 7.13974C20.8052 6.12523 19.7294 5.56066 17.5777 4.43152L15.5777 3.38197C13.8221 2.46066 12.9443 2 12 2C11.0557 2 10.1779 2.46066 8.42229 3.38197L6.42229 4.43152C4.27063 5.56066 3.19479 6.12523 2.5974 7.13974C2 8.15425 2 9.41667 2 11.9415V12.0585C2 14.5833 2 15.8458 2.5974 16.8603C3.19479 17.8748 4.27063 18.4393 6.42229 19.5685L8.42229 20.618C10.1779 21.5393 11.0557 22 12 22C12.9443 22 13.8221 21.5393 15.5777 20.618L17.5777 19.5685C19.7294 18.4393 20.8052 17.8748 21.4026 16.8603C21.8226 16.1469 21.9473 15.3111 21.9844 14"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path
                            d="M21 7.5L17 9.5M12 12L3 7.5M12 12V21.5M12 12C12 12 14.7426 10.6287 16.5 9.75C16.6953 9.65237 17 9.5 17 9.5M17 9.5V13M17 9.5L7.5 4.5"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                    <span>Vacuna</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('id_vacuna')}">
                    <mat-form-field appearance="outline">
                        <mat-select id="id_vacuna" formControlName="id_vacuna">
                            <mat-option value="">Seleccione una vacuna</mat-option>
                            <mat-option *ngFor="let item of vacunas" [value]="item.id_vacuna">
                                {{ item.nombre_comercial }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-error-message" *ngIf="isFieldInvalid('id_lote')">
                    {{ getErrorMessage('id_lote') }}
                </div>
            </div>

            <div class="input-container">
                <label for="id_ubicacion">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            fill="currentColor" />
                    </svg>
                    <span>Ubicación</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('id_ubicacion')}">
                    <mat-form-field appearance="outline">
                        <mat-select id="id_ubicacion" formControlName="id_ubicacion">
                            <mat-option value="">Seleccione una ubicacion</mat-option>
                            <mat-option *ngFor="let item of ubicaciones" [value]="item.id_ubicacion">
                                {{item.tipo}} | {{ item.nombre }} - {{ item.direccion }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-error-message" *ngIf="isFieldInvalid('id_ubicacion')">
                    {{ getErrorMessage('id_ubicacion') }}
                </div>
            </div>

            <div class="input-container">
                <label for="cantidad_actual">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.048 2.001 L17.164 2.014 C17.709 2.104 18.077 2.62 17.986 3.164 L17.182 7.992 L21 7.99 C21.552 7.99 22 8.437 22 8.989 C22.001 9.541 21.553 9.99 21.001 9.99 L16.848 9.992 L16.181 13.994 L20 13.992 C20.552 13.992 21 14.44 21 14.992 C21.001 15.544 20.553 15.992 20.001 15.992 L15.848 15.994 L14.986 21.164 C14.896 21.709 14.38 22.077 13.836 21.986 C13.291 21.896 12.923 21.38 13.014 20.836 L13.82 15.995 L8.845 15.997 L7.983 21.164 C7.892 21.709 7.377 22.077 6.832 21.986 C6.287 21.896 5.92 21.38 6.01 20.836 L6.817 15.998 L3 16 C2.448 16 2 15.553 2 15 C1.999 14.448 2.447 14 3 14 L7.151 13.998 L7.818 9.998 L4 10 C3.448 10 3 9.553 3 9 C2.999 8.448 3.447 8 4 8 L8.151 7.998 L9.012 2.835 C9.103 2.291 9.618 1.923 10.163 2.014 C10.708 2.104 11.076 2.62 10.985 3.164 L10.179 7.996 L15.154 7.993 L16.014 2.836 C16.104 2.291 16.62 1.923 17.164 2.014 Z M14.821 9.994 L9.845 9.997 L9.178 13.997 L14.154 13.995 L14.821 9.994 Z" />
                    </svg>
                    <span>Cantidad Actual</span>
                </label>
                <div class="input" [ngClass]="{'is-invalid': isFieldInvalid('cantidad_actual')}">
                    <input type="text" maxlength="6" id="cantidad_actual" formControlName="cantidad_actual"
                        placeholder="Ingrese la cantidad actual">
                </div>
                <div class="text-error-message" *ngIf="isFieldInvalid('cantidad_actual')">
                    {{ getErrorMessage('cantidad_actual') }}
                </div>
            </div>

            <div class="flex-end" style="margin-top: 30px;">
                <button type="submit" class="btn btn-blue">
                    <svg class="icono-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.172 1C18.702 1 19.211 1.211 19.586 1.586L22.414 4.414C22.789 4.789 23 5.298 23 5.828V20C23 21.657 21.657 23 20 23H4C2.343 23 1 21.657 1 20V4C1 2.343 2.343 1 4 1H18.172ZM4 3C3.448 3 3 3.448 3 4V20C3 20.552 3.448 21 4 21L5 21L5 15C5 13.343 6.343 12 8 12L16 12C17.657 12 19 13.343 19 15V21H20C20.552 21 21 20.552 21 20V6.828C21 6.298 20.789 5.789 20.414 5.414L18.586 3.586C18.211 3.211 17.702 3 17.172 3H17V5C17 6.657 15.657 8 14 8H10C8.343 8 7 6.657 7 5V3H4ZM17 21V15C17 14.448 16.552 14 16 14L8 14C7.448 14 7 14.448 7 15L7 21L17 21ZM9 3H15V5C15 5.552 14.552 6 14 6H10C9.448 6 9 5.552 9 5V3Z"
                            fill="currentColor" />
                    </svg>
                    <span>{{ isEditMode ? 'Actualizar Inventario' : 'Guardar Inventario' }}</span>
                </button>

                <button type="button" class="btn btn-secondary" (click)="onCancel()">
                    <svg class="icono-1" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>cancel</title>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="work-case" fill="#000000" transform="translate(91.520000, 91.520000)">
                                    <polygon id="Close"
                                        points="328.96 30.2933333 298.666667 1.42108547e-14 164.48 134.4 30.2933333 1.42108547e-14 1.42108547e-14 30.2933333 134.4 164.48 1.42108547e-14 298.666667 30.2933333 328.96 164.48 194.56 298.666667 328.96 328.96 298.666667 194.56 164.48">
                                    </polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
</div>