:host {
  display: inline-flex;
  position: sticky;
  top: 0;
  --header-padding: 10px 50px;
  --header-height: 70px;
  --header-width: 100vw;
}

header {
  padding: var(--header-padding);
  display: inline-flex;
  align-items: center;
  width: var(--header-width);
  height: var(--header-height);
}

nav {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
}

.logo span {
  font-size: var(--font-16);
  font-weight: 700;
}

.menu__link {
  color: var(--color-font);
  padding: 0px 12px;
  line-height: 2;
  position: relative;
}

.menu__link span {
  font-size: var(--font-14);
  font-weight: 300;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-font);
  position: absolute;
  bottom: -.25rem;
  left: 0;
  transition: width .3s;
}

.menu__link:hover::before {
  width: 100%;
}