:host {
  display: inline-flex;
  position: sticky;
  top: 0;
  --header-padding: 10px 50px;
  --header-height: 70px;
  --header-width: 100vw;
}

header {
  padding: var(--header-padding);
  display: inline-flex;
  align-items: center;
  width: var(--header-width);
  height: var(--header-height);
}

.logo span {
  font-size: var(--font-16);
  font-weight: 700;
}