
:host{
    display: flex;
}

.monitor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-inline: 100px;
  pointer-events: none;
}

/* MAPA */
#map {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: auto;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid var(--blue-500);
}

/* DROPDOWN */
.dropdown-wrapper {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 999;
  pointer-events: auto;
}

.dropdown-btn {
  background: #04009a;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-menu {
  margin-top: 3px;
  width: fit-content;
  max-height: 320px;
  overflow-y: auto;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,.2);
}

.dropdown-item {
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: var(--font-12);
}

.dropdown-item:hover {
  background: #f2f2f2;
}

.empty {
  padding: 12px;
  text-align: center;
  color: #666;
}

.detalle-panel {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 320px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  z-index: 999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

/* Header */
.detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.titulo {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
}

.badge {
  background: #e0f2fe;
  color: #0369a1;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
}

/* Grid */
.detalle-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px;
}

.label {
  font-size: 12px;
  color: #6b7280;
}

.value {
  font-size: 13px;
  font-weight: 800;
  color: #111827;
}

.temperatura {
  color: blue;
  font-weight: 600;
}
