:host{
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

form{
    width: 340px;
    margin: auto;
    height: fit-content;
    
}

.recover-link {
  color: var(--color-font);
  font-weight: 300;
  text-decoration: none;
  font-size: var(--font-12);
  cursor: pointer;
}

