
:host{
    display: flex;
    justify-content: center;
}

.notification-container {
  position: fixed;
  top: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  min-width: 300px;
  padding: 14px 16px;
  border-radius: 8px;
  color: #fff;
  animation: slideIn 0.3s ease-out;
}

/* ICONO */
.icon svg {
  width: 22px;
  height: 22px;
}

/* TEXTO */
.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.message {
  font-size: 13px;
  opacity: 0.9;
}

/* TIPOS */
.success { background-color: #28a745; fill: white; }
.error   { background-color: #dc3545; fill: white; }
.info    { background-color: #17a2b8; fill: white; }
.warning { background-color: #ffc107; fill: white; }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
