.is-invalid {
    .mat-mdc-form-field .mdc-notched-outline__leading,
    .mat-mdc-form-field .mdc-notched-outline__notch,
    .mat-mdc-form-field .mdc-notched-outline__trailing {
        border-color: red !important;
    }
}